
# Created by https://www.toptal.com/developers/gitignore/api/django,git
# Edit at https://www.toptal.com/developers/gitignore?templates=django,git

### Django ###
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
staticfiles

### env vars ###
.env